html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #ffebd6;
}
h1{
  font-family: "Playfair Display";
  font-weight: 600;
  font-style: normal;
  display: block;
  text-align: center;
  color: #6F4E37;
  padding-top: 50px;
}

section h3{
  font-family: "Playfair Display";
  font-weight: 600;
  font-style: normal;
  display: block;
  text-align: center;
  color: #6F4E37;
  padding-top: 50px;
}

input{
  font-family: "Playfair Display";
  transition:0.4s;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  width: 100px;
  border: 0px;
  background-color: #FED8B1;
}

input:hover{
  width: 220px;
}

input:target{
  border: 0px;
}

input:focus{
  width: 230px;
  border: 0px;
  background-color: #FED8B1;
}

button{
  transition:0.4s;
  font-family: "Playfair Display";
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 50px;
  border: 0px;
  background-color: #FED8B1;
}

button:hover{
  transition: all 0.4s ease-out 100ms;
  background-color: #6F4E37;
  color:#FED8B1;
}

.container {
    display: flex;
    align-items: center;
}

.rightimg{
  width: auto;
  height: 400px;
}